{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% if debug %}
        <link rel="stylesheet" href="{% static "vendor/bootstrap.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "vendor/bootstrap.min.css" %}">
    {% endif %}
    {% block page_css %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}


{% if debug %}
    <script src="{%  static "vendor/vue.js" %}"></script>
{% else %}
    <script src="{%  static "vendor/vue.min.js" %}"></script>
{% endif %}
{% block page_js %}{% endblock %}

</body>
</html>