{% extends "feed/base.html" %}
{% load static i18n %}
{% block content %}
    <div class="container">

        <div id="feed"></div>


    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static "feed.js" %}"></script>
{% endblock %}